{% extends 'base.html.twig' %}

{% block title %}Subject index
{% endblock %}

{% block body %}
	<div class="container col-md-3 mt-5 text-center">
		<h1 class="text text-success">Subject List</h1>
		<a href="{{ path('subject_add') }}" class="btn btn-success">Add subject</a>

</div>
		<table class=" container col-md-6 mt-3 table table-bordered alert-danger text-center ">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name							
					</th>
					<th>Cover</th>
					<th>actions</th>
				</tr>
			</thead>

			<tbody>

				{% for subject in subjects %}
					<tr>
						<td>{{ subject.id }}</td>
						<td>{{ subject.name }}</td>
						<td>
							<a href="{{ path('subject_detail',{'id' : subject.id })}}">
								<img src="{{subject.cover }}" width="100" height="100">
							</a>
						</td>
						<td>
							<a href="{{ path('subject_detail', {'id': subject.id}) }}" class="btn btn-danger">show</a>
							<a href="{{ path('subject_edit', {'id': subject.id}) }}" class= "btn btn-primary">edit</a>
						</td>

					</tr>
				{% endfor %}		
			</tbody>
				
		</table>
	</div>
{% endblock %}
